<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="max.pawras.jeroty">
    <uses-permission android:name="android.permission.SEND_SMS" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeScreen" />
        <activity
            android:name=".DryProducts"
            android:label="Dry Products" />
        <activity android:name=".ByProducts" />
        <activity android:name=".OilProducts" />
        <activity android:name=".Location" />
        <activity
            android:name=".SubDryProducts"
            android:label="Sub DryProducts" />
        <activity android:name=".ProductDetail" />
        <activity android:name=".SubByProducts" />
        <activity android:name=".SubOilProducts"></activity>
    </application>

</manifest>